<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>Thymeleaf in action</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1 th:text="${userModel.title}">wxx</h1>
    <form action="/users/saveOrUpdateUser" method="post" th:object="${userModel.user}">
        <input type="hidden" name="id" th:value="*{id}">
        姓名：<input type="text" name="name" th:value="*{name}"><br/>
        邮箱：<input type="text" name="email" th:value="*{email}"><br/>
        <input type="submit" value="提交">
    </form>


    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>